@media screen and (min-width: 320px) and (orientation: landscape) {

  /* START MODAL */

  .start-modal-content {
    width: 97%;
  }
  .close {
    margin-top: -10px;
  }
  .start-top-header-modal {
    margin-top: -16px;
    padding: 5px;
    border-bottom: 1px solid #000;
  }
  .start-logo-modal {
    width: 50px;
    height: 50px;
  }
  .start-modal-welcome {
    margin-top: 0.8em;
  }
  .start-modal-text {
    margin-top: 1em;
    font-size: 0.9em;
  }
  .start-button {
    margin-top: 1em;
  }

  /* CONTAINER */

  .container {
    width: 100%;
    max-width: 480px;
  }

  /* HEADER */

  .top-header {
    width: 38%;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
  .title {
    font-size: 1em;
    font-weight: 500;
    position: unset;
    margin: 5px auto;
    text-align: center;
  }
  .subtitle {
    position: unset;
    margin: -7px auto;
    font-size: 0.9em;
    font-weight: 400;
    font-style: italic;
  }

  /* SECTION NAVIGATION PANEL */

  .game-options {
    width: 35%;
    margin-left: 10px;
  }
  .row {
    flex-direction: column;
    padding: 20px;
  }
  .row-title {
    width: 50%;
  }
  .stars, .moves, .timer {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    text-align: left;
  }
  .star, .moves-counter, .time-counter {
    display: inline-block;
    margin-top: 2px;
  }
  .moves, .timer {
    margin-top: 10px;
  }
  .reload-button {
    width: 100%;
    margin: 15px auto 5px auto;
  }
  .help-button {
    width: 50%;
    margin: -26px auto auto 62px;;
  }

  /* SECTION GAME BOARD */

  .board-container {
    width: 60%;
    margin: -300px 10px auto auto;
  }
  .board {
    width: 55px;
    height: 55px;
  }

  /* FOOTER */

  .footer {
    margin-top:3px;
  }
  .copyright {
    padding: 2px;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 360px) and (orientation: portrait) {

  /* HEADER */

  .top-header {
    margin-top: 6px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .title {
    font-size: 1.7em;
    margin: -60px auto auto 65px;
  }
  .subtitle {
    font-size: 1.6em;
    margin: -30px auto auto 65px;
  }

  /* SECTION NAVIGATION PANEL */

  .game-options {
    width: 100%;
  }
  .row {
    margin-top: 1em;
  }

  /* SECTION GAME CANVAS */

  .board-container {
    width: 100%;
    margin: 1em auto;
  }
  .board {
    width: 70px;
    height: 70px;
  }

  /* MODALS */

  .start-modal-content {
    margin: 5em auto;
  }
}
@media screen and (min-width: 640px) and (orientation: landscape) {

  /* CONTAINER  */

  .container {
    max-width: 100%;
  }

  /* HEADER  */

  .top-header {
    width: 44%;
    height: 85px;
    display: flex;
    flex-direction: row;
  }
  .logo {
    width: 65px;
    height: 65px;
    position: absolute;
    left: 0;
    transform: none;
    margin-left: 10px;
  }
  .title {
    font-size: 1.2em;
    position: absolute;
    margin: 5px auto auto 75px;
  }
  .subtitle {
    position: absolute;
    margin: 30px auto auto 75px;
    font-size: 1.1em;
  }

  /* NAVIGATION PANEL SECTION */

  .game-options {
    width: 41%;
  }

  /* GAME CANVAS SECTION */

  .board-container {
    width: 352px;
    margin: -278px 10px auto auto;
  }
  .board {
    width: 70px;
    height: 70px;
  }

  /* FOOTER  */

  .footer {
    width: 43%;
    padding: 17px;
    margin: -76px auto auto 0;
  }
  .copyright {
    font-size: 1em;
  }
}
@media screen and (min-width: 384px) and (orientation: portrait) {
  .board-container {
    width: 360px;
  }
}
@media screen and (min-width: 480px) and (orientation: portrait) {
  .logo {
    width: 70px;
    height: 70px;
  }
  .title {
    font-size: 2.4em;
    margin: -72px auto auto 80px;
  }
  .subtitle {
    font-size: 2em;
    margin: -35px auto auto 80px;
  }
  .game-options {
    width: 470px;
  }
  .row {
    padding: 20px;
  }
  .board-container {
    width: 470px;
  }
  .board {
    width: 91px;
    height: 91px;
  }
  .front, .back {
    font-size: 1.5em;
  }
  .board .card .front {
    margin-top: 10px;
  }
  .copyright {
    padding: 30px;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {

  /* CONTAINER  */

  .container {
    width: 100%;
  }

  /* HEADER */

  .top-header {
    padding: 1em;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  .title {
    font-size: 3em;
    margin: -87px auto auto 96px;
  }
  .subtitle {
    font-size: 2em;
    margin: -35px auto auto 96px;
  }

  /* SECTION GAME OPTIONS */

  .game-options {
    width: 519px;
    margin: 3em auto;
  }

  /* SECTION GAME CANVAS  */

  .board-container {
    width: 519px;
    padding: 10px 10px 30px 10px;
  }
  .board {
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }
  .board .card .front {
    margin-top: 16px;
  }
  .board .card .back {
    line-height: 1.5;
  }

  /* FOOTER  */

  .footer {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (min-width: 980px) and (orientation: portrait) {
  .top-header {
    padding: 2em;
  }
  .game-options {
    width: 769px;
  }
  .row {
    padding: 40px;
  }
  .board-container {
    width: 769px;
  }
  .board {
    width: 150px;
    height: 150px;
  }
  .board .card {
    font-size: 3em;
  }
  .board .card .front {
    margin-top: 30px;
  }
  .board .card .back {
    line-height: 1.9;
  }
  .footer {
    padding: 30px;
  }
}
@media screen and (min-width: 780px) and (orientation: landscape) {

  /* CONTAINER */

  .container {
    width: 100%;
    max-width: 800px;
  }

  /* HEADER */

  .top-header {
    width: 38%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .logo {
    position: unset;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
  }
  .title {
    position: unset;
    text-align: center;
    margin: 1em auto auto;
    font-size: 1.6em;
  }
  .subtitle {
    position: unset;
    text-align: center;
    margin: 0 auto 0.9em;
    font-size: 1.4em;
  }

  /* SECTION NAVIGATION PANEL */

  .game-options {
    margin: 1em auto auto 1em;
    width: 34%;
  }

  /* SECTION GAME CANVAS  */

  .board-container {
    width: 469px;
    margin: -400px 10px auto auto;
    padding: 10px 10px 30px 10px
  }
  .board {
    width: 90px;
    height: 90px;
    margin-top: 20px;
  }
  .board .card .front {
    margin-top: 20px;
  }
  .board .card .back {
    line-height: 1.9;
  }

  /* FOOTER */
  
  .footer {
    width: 100%;
    max-width: 800px;
    bottom: 0;
    position: absolute;
  }
}