/*
COLOR SCHEME

PRIMARY COLOR: #9e2021
SECONDARY COLOR: #155f60
THIRD COLOR: #6c943e
FOURTH COLOR: #1e7f3f
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100vh;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.container {
  width: 98%;
  margin: 0 auto;
}

/* HEADER */

.top-header {
  padding: 10px;
  border-bottom: solid 1px #000;
}
.logo {
  width: 55px;
  height: 55px;
}
.title {
  font-size: 1.5em;
  font-weight: 500;
  position: absolute;
  margin: -53px auto auto 65px;
}
.subtitle {
  position: absolute;
  margin: -26px auto auto 65px;
  font-size: 1.3em;
  font-weight: 400;
  font-style: italic;
}

/* SECTION GAME-CANVAS */

.board-container {
  width: 300px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 10px 20px 10px;
}
.board {
  -webkit-perspective: 800px;
  perspective: 800px;
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: 10px;
}
.board .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  border: solid 1px #000;
  color: #fff;
  font-family: 'EB+Garamond', serif;
  font-size: 2.5em;
  text-align: center;
}
.board .card.flip {
  -webkit-transform: rotatex(-180deg);
  transform: rotateX(-180deg);
  margin-top: 5px;
}
.board .card .side {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* z-index: 2; */
}
.board .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  margin-top: 5px;
}
.board .card .back {
  -webkit-transform: rotatex(-180deg);
  transform: rotateX(-180deg);
  cursor: pointer;
  z-index: 2;
  background-color: #9e2021;
  border-radius: 5px;
  border: solid 1px #000;
  color: #fff;
  font-family: 'EB+Garamond', serif;
  text-align: center;
}
.blue {
  background-color: #155f60;
}
.green {
  background-color: #6c943e;
}
.dark-green {
  background-color: #1e7f3f;
}
.back {
  margin-top: 5px;
}
.match {
  background-color: #1e7f3f;
}

/* GAME OPTIONS SECTION */

.game-options {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 300px;
  margin: 10px auto;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  text-align: center;
}
.moves, .timer {
  width: 24%;
}
.row-title {
  font-weight: 500;
}
.stars {
  width: 24%;
}
.fa-star {
  color: #6c943e;
}
.moves-counter, .time-counter {
  font-weight: 400;
}
.reload-button {
  width: 14%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.help-button {
  width: 14%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.reload-button:hover, .help-button:hover,
.reload-button:focus, .help-button:focus {
  color: #6c943e;
}
:focus {
  outline: 0;
  box-shadow: 0 0 10px #6c943e;
}
/* FOOTER  */

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 10px;
}
.copyright {
  text-align: center;
  color: #fff;
  padding: 20px;
}
.link {
  color: #fff;
  text-decoration: none;
}
.link:hover, .link:focus {
  color: #6c943e;
}
